{% extends 'Classes/list.html' %}
{% load static %}
{% block head_list %}
    <script src="{% static 'js/list-cbrerpd.js' %}"></script>
{% endblock %}
    {% block botones %}


        <a href="{{ return_url }}" class="btn btn-primary btn-flat mb-3">
            <i class="fas fa-arrow-circle-left"></i>
        </a>
        {% if imagen %}
        <a href="../descargarArchivos/?idrerpe={{idrerpe}}" target="_blank" class="btn btn-success btn-flat mb-3" title="Ver imagen">
            <i class="fas fa-image"></i>
        </a>
        {% endif %}
        Fuente: {{archivoerp}}, {{fechact}}, {{idusu}}

    {% endblock %}
{% block columns %}



    <tr>

        <th scope="col" style="width: 2%;">IDRERPD</th>
        <th scope="col" style="width: 3%;">NROTRA</th>
        <th scope="col" style="width: 5%;">FECHATRA</th>
        <th scope="col" style="width: 5%;">NROCOMP</th>
        <th scope="col" style="width: 3%;">AUX</th>
        <th scope="col" style="width: 3%;">REF</th>
        <th scope="col" style="width: 3%;">GLOSA</th>
        <th scope="col" style="width: 3%;">DEBE</th>
        <th scope="col" style="width: 3%;">HABER</th>
        <th scope="col" style="width: 3%;">SALDO</th>
        <th scope="col" style="width: 3%;">FECHACON</th>



    </tr>
{% endblock %}

{% block rows %}

{% endblock %}

{% block javascript %}

{% endblock %}
{% block scripts_cbr %}

<script>
    var globalVariable={
        moneda: "{{moneda}}"
    };
</script>
{% endblock %}
