



.bg-enconciliacion {
    color: #00258c !important;
}
.bg-enconciliacion-resultados {
    text-align: center;
    color: #620202;
}

.bg-conciliado {
    color: #336719 !important;
}

.bg-paraconciliar {
    color: #0058bf !important;
}

/*ENCABEZADOS DE TABLA CBSRES*/
table {
    line-height: 1 !important;
}

thead input {
    width: 100%;
}
table.dataTable th {
    background-color: #007bff!important;
    color: white !important;

}

/*TAMAÑO TEXTO CBSRES*/
.texto-cbsres {
    font-size: 12px;
    font-weight: 350;
}


/* ENCABEZADO */
table.dataTable.nowrap th, table.dataTable.nowrap td {
    white-space: normal !important;
}

.bg-conciliado-resultados {
    color: #1c6000 ;
    text-align: center;
}
.status-resultados-header {
    padding: 0;
}

.bg-default {
    color: #000000 !important;
}

td.highlight {
    background-color: #e0eecc !important;
}
td {
  vertical-align: middle;
}
.callout-conc {
    font-size: small;
    border-left: 10px solid !important;
    width: 20px !important;
}

.callout-success {
    border-left-color: #5cb85c !important;

}

.callout a { 
    padding: 1px !important;
}
.callout-danger  {
    border-left-color: #9c2b2b !important;
}
.callout-warning {
    border-left-color: #dadd37 !important;
}

td.current {
    background-color: #9facc8 !important;

}

td.change {
    font-weight: bold !important;
    color: #ff0000 !important;

}

.callout a {
    color: #34395a;
}
.callout a:hover {
    color: #00257c;
}

.dropdown-item.active, .dropdown-item:active {
    color: #fff;
    text-decoration: none;
    background-color: #007bff;
}
.dropdown-item {
    display: block;
    width: 100%;
    padding: .25rem 1rem;
    clear: both;
    font-weight: 400;
    color: #212529;
    text-align: inherit;
    white-space: nowrap;
    background-color: transparent;
    border: 0;
}
.buttons-columnVisibility:active {
    color: #fff !important;
    text-decoration: none !important;
    background-color: #419bff !important;
}
div.dataTables_wrapper div.dataTables_length select {
    width: 50px !important;
    margin-right: 3px !important;
}

div.dataTables_wrapper div.dataTables_length label {
    padding-right: 10px !important;
}

div.dt-button-collection button.dt-button, div.dt-button-collection div.dt-button, div.dt-button-collection a.dt-button {
    background-color: red !important;
}

dt-button buttons-columnVisibility active
{
    background-color: greenyellow !important;
}

table.dataTable tbody th, table.dataTable tbody td {
    padding: 4px 10px; /* e.g. change 8x to 4px here */
}
  table#data.dataTable tbody tr:hover {
  background-color: #ffa;
}

table#data.dataTable tbody tr:hover > .sorting_1 {
  background-color: #ffa;
}

.miniselect {
    width: 70px;
    height: 20px;
    top: 14px;
    right: 10px;
  }

.linkconciliadook{
    border-left: 10px solid !important;
    border-left-color: #5cb85c !important;
}

.linkconciliadofallo{
    border-left: 10px solid !important;
    border-left-color: #9c2b2b !important;
}

.linkconciliadoauto{
    border-left: 10px solid !important;
    border-left-color: #aad11b !important;
}

.aceptar{
        border: none;
        color: green;
        padding: 0px 0px;
        text-align: center;
        text-decoration: none;
        display: inline-block;
        font-size: 8px;
        margin: 2px 2px;
        cursor: pointer;
        background-color: #4CAF50;
        width: 2px;
}

button.link {
    background: none!important;
    border: none;
    padding: 0!important;
    /*optional*/
    font-family: arial, sans-serif;
    /*input has OS specific font-family*/
    color: #069;
    text-decoration: underline;
    cursor: pointer;
  }