{% extends "index.html" %}
{% load static %}
{% load widget_tweaks %}
{% block content %}

    <div class="row justify-content-center p-0 rounded">
        <div class="card card-primary w-50 col-6 p-0 rounded">
            <div class="card-header rounded bg-light">
                <h1 class="card-title text-lg">{{ title }}</h1>
                <a href="/" type="button" class="close" aria-hidden="true">×</a>
                <small class="card-title float-md-right">{{ cliente }}::{{ codigo }}</small>
            </div>
            <!-- /.card-header -->
            <form method="post" action="../conciliacion" enctype="multipart/form-data"  data-ajax="false" >
                <!-- form start -->
                {% csrf_token %}
                <input type="hidden" name="action" value="{{ action }}">
                <input type="hidden" name="sobreescribir" value={{ sobreescribir }}>
                <div class="card-body pt-0">
                    {% if form.errors %}
                        <div class="alert alert-danger alert-dismissible">
                            <button type="button" class="close" data-dismiss="alert" aria-hidden="true">×</button>
                            <h5><i class="icon fas fa-ban"></i> Revise la información</h5>
                            {{ form.errors }}
                        </div>
                    {% endif %}
                    {% if action == "edit" %}
                    <input type="hidden" name="idtemp" value="{{ idtemp }}"> 
                    {% endif %}
                    <div class="row">
                        {% if editable %}
                        <div class="form-group col-6">
                            <label for="empresa" class="col-form-label">{{ form.empresa.label }}</label>
                                {{ form.empresa}}
                        </div>
                        {% else %}
                        <div class="form-group col-6">
                        <label for="empresa" class="col-form-label">{{ form.empresa.label }}</label>
                        <input id=id_empresa name="empresa" class= 'form-control' type="text" readonly value={{form.empresa.value}}></input>                   
                        </div>
                        {% endif %}
                    </div>
                            <div class="form-group col-6">
                            <label for="desemp" class="col-form-label">{{ form.desemp.label }}</label>
                                {{ form.desemp}}

                        </div>
                    </div>
                    <div class="row">
                        {% if inactiva %}
                        <div class="form-group col-6">
                            <label for="actpas" class="col-form-label">¿Es Empresa Activa?</label>
                                {{ form.actpas}}

                        </div>
                        {% else %}
                        <div class="form-group col-6">
                            <label for="actpas" class="col-form-label" >¿Es Empresa Activa?</label>
                                
                            <input  type="checkbox" name="actpas" placeholder="¿Está activa?" class="form-control" maxlength="1" autocomplete="off" id="id_actpas" checked>

                        </div>
                        {% endif %}
                    </div>
                    
                    <!-- /.card-body -->
                    <div class="card-footer text-right">
                        {% if action == "edit" %}
                        <button id="btnGuardar" type="submit" class="btn btn-primary btn-lg" style="width: 150px"  >Grabar</button>
                        {% else %}
                        <button id="btnGuardar" type="submit" class="btn btn-primary btn-lg" style="width: 150px"  >Crear</button>
                        {% endif %}
                        <button type="button" class="btn btn-secondary btn-lg" style="width: 150px"
                                onclick="location.href='{{ empresas_url }}'">Cancelar</button>
                    </div>
            </form>
            <div class="progress">
                <div class="progress-bar bg-primary progress-bar-striped" role="progressbar" aria-valuenow="100" aria-valuemin="0" aria-valuemax="100" style="width: 100%">
                    <span class="sr-only">100% Complete (success)</span>
                </div>
            </div>
        </div>
    </div>
    <script>
        $('form').on('submit', function (e) {
            e.preventDefault();
            var parameters = new FormData(this);
            submit_(window.location.pathname, 'Notificación', '¿Estas seguro de realizar la siguiente acción?', parameters, function (data) {
                location.href = "{% url 'CBR:cbtemp-list' %}";
            });
        });
        $('.form-control').on("change", function(e){
             $('#btnGuardar').attr('disabled', false);
        });
    </script>
{% endblock %}
{% block scripts %}
    <script src="{% static 'js/events.js' %}" type="text/javascript"></script>
{% endblock %}

