{% extends "index.html" %}
{% load static %}
{% load widget_tweaks %}
{% block content %}

    <div class="row justify-content-center p-0 rounded">
        <div class="card card-primary w-50 col-6 p-0 rounded">
            <div class="card-header rounded bg-light">
                <h1 class="card-title text-lg">{{ title }}</h1>
                <a href="/" type="button" class="close" aria-hidden="true">×</a>
                <small class="card-title float-md-right">{{ cliente }}::{{ codigo }}</small>
            </div>
            <!-- /.card-header -->
            <form method="post" action="../conciliacion" enctype="multipart/form-data"  data-ajax="false" >
                <!-- form start -->
                {% csrf_token %}
                <input type="hidden" name="action" value="{{ action }}">
                <input type="hidden" name="modificable" value={{ modificable }}>
                <input type="hidden" name="idtusu" value={{ idtusu }}>
                <div class="card-body pt-0">
                    {% if form.errors %}
                        <div class="alert alert-danger alert-dismissible">
                            <button type="button" class="close" data-dismiss="alert" aria-hidden="true">×</button>
                            <h5><i class="icon fas fa-ban"></i> Revise la información</h5>
                            {{ form.errors }}
                        </div>
                    {% endif %}
                    <div class="row">
                        {% if modificable %}
                        <div class="form-group col-6">
                            <label for="idusu1" class="col-form-label">{{ form.idusu1.label }}</label>
                                {{ form.idusu1}}
                        </div>
                        {% else %}
                        <div class="form-group col-6">
                            <label for="idusu1" class="col-form-label">{{ form.idusu1.label }}</label>
                            <input type="text" readonly name="idusu1" value="{{form.idusu1.value}}" placeholder="Usuario" class="form-control" maxlength="16" autocomplete="off" required="" id="id_idusu1">                        
                            
                        </div>
                        {% endif %}
                        </div>
                            <div class="form-group col-6">
                            <label for="descusu" class="col-form-label">{{ form.descusu.label }}</label>
                                {{ form.descusu}}

                        </div>
                    </div>
                    <div class="row">
                        <div class="form-group col-6">
                            <label for="tipousu" class="col-form-label">¿Es Superusuario?</label>
                                {{ form.tipousu}}

                        </div>
                        <div class="form-group col-6">
                            <label for="actpas" class="col-form-label">¿Es Usuario Activo?</label>
                                {{ form.actpas}}

                        </div>

                    </div>
                    
                    <!-- /.card-body -->
                    <div class="card-footer text-right">
                        <button id="btnGuardar" type="submit" class="btn btn-primary btn-lg" style="width: 150px" disabled >Crear</button>
                        <button type="button" class="btn btn-secondary btn-lg" style="width: 150px"
                                onclick="location.href='{{ list_cbtusu_url }}'">Cancelar</button>
                    </div>
            </form>
            <div class="progress">
                <div class="progress-bar bg-primary progress-bar-striped" role="progressbar" aria-valuenow="100" aria-valuemin="0" aria-valuemax="100" style="width: 100%">
                    <span class="sr-only">100% Complete (success)</span>
                </div>
            </div>
        </div>
    </div>
    <script>
        $('form').on('submit', function (e) {
            e.preventDefault();
            var parameters = new FormData(this);
            submit_(window.location.pathname, 'Notificación', '¿Estas seguro de realizar la siguiente acción?', parameters, function (data) {
                location.href = "{% url 'CBR:cbtusu-list' %}";
            });
        });
        $('.form-control').on("change", function(e){
             $('#btnGuardar').attr('disabled', false);
        });
    </script>
{% endblock %}
{% block scripts %}
    <script src="{% static 'js/events.js' %}" type="text/javascript"></script>
{% endblock %}

