{% extends 'Classes/list.html' %}
{% load static %}
{% block head_list %}
    <script src="{% static 'js/list-cbsusu.js' %}"></script>
{% endblock %}
{% block botones %}
    <div class="row">
    
        <a href="{{ list_url }}" class="btn btn-info btn-flat mb-3" data-toggle="tooltip" data-placement="bottom"
           title="Atras">
            <i class="fas fa-arrow-left"></i>
        </a>


    </div>
{% endblock %}
{% block columns %}
    <tr>
        <th scope="col" style="width: 2% !important;">Usuario</th>
        <th scope="col" style="width: 3%;">Descripcion</th>
        <th scope="col" style="width: 5% !important;">Conexiones</th>
        <th scope="col" style="width: 5%;">Inicio Sesion</th>
        <th scope="col" style="width: 5%;">Fin Sesion</th>
        <th scope="col" style="width: 5%;">Conectado</th>

    </tr>
{% endblock %}
{% block rows %}
{% endblock %}
{% block footer %}
{% endblock %}
{% block javascript %}
    <script src="{% static 'js/events.js' %}" type="text/javascript"></script>
{% endblock %}