<!DOCTYPE html>
<html lang="es">
<head>

    {% load static %}

    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" type="image/png" href="{% static 'favicon.ico' %}"/>
    <title>Iniciar Sesión</title>
    <link rel="stylesheet" type="text/css" href="{% static '/css/style.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static '/css/bootstrap.min.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static '/css/StyleStatus.css' %}">
    <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>

</head>
<body>
<section class="bg-login">
    <div class="container mt-10">
        <div class="row">
            <div class="col-lg-12 col-sm-12">
                <div class="wrapper-page">
                    <div class="account-pages">
                        <div class="account-box">
                            <div class="card m-b-30 card-crista">
                                <div class="card-header">
                                    <h5 class="card-title float-md-right">CBF00</h5>
                                </div>
                                <div class="card-body">
                                    <div class="card-title text-center">
                                        <img src="{% static '/img/logo.ico' %}" alt="" class="">
                                        <h5 class="mt-3"><b>[Nomre de la aplicación]</b></h5>
                                        <span>Entrar a [Nombre pendiente]</span>
                                    </div>
                                    <form method="POST" id="loginForm" class="form mt-5 col-md"
                                          style="text-align: center;">
                                        {% csrf_token %}
{#                                        {{ form.as_p }}#}

                                        <div class="form-group">
                                            <label class="col-form-label">Nombre de usuario</label>
                                            <input id="usuario" type="text" class="form-control" placeholder="Nombre de usuario" name="username">
                                        </div>
                                        <div class="form-group">
                                            <label class="col-form-label">Contraseña:</label>

                                            <input id="id_password" type="password" class="form-control" placeholder="Contraseña" name="password" autocomplete="off">


                                        </div>

                                        <div class="form-group">
                                            <div class="col-sm-12 mt-4">

                                                <button id="entrada" class="btn btn-primary btn-block btn-login"
                                                        type="button">Entrar
                                                </button>
                                            </div>
                                        </div>

                                        <div class="form-group">
                                            <div class="col-sm-12 mt-4 text-center">
                                            </div>
                                        </div>

                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

</section>

{#    <script>#}
{#        $('#showpass').on('click',function(e){#}
{#            if ($)#}
{#        })#}
{##}
{#    </script>#}
<script>
    console.log("a")
    $("#entrada").on("click", function (event) {
        const usuarioValor = usuario.value
        const contraValor = id_password.value
        console.log(contraValor)
        console.log(usuarioValor)
        $.ajax({
                method: 'GET',
                //beforeSend: function (request) {
                //    request.setRequestHeader("X-CSRFToken", csrftoken);
                //},
                url: '/login?usuario='+usuarioValor,
                //data: {'idrenc': idrenc},
                success: function (respons) {
                    console.log(respons)
                    console.log(respons.reinicia)
                    if (respons.reinicia==true) {
                        $.ajax({
                            method: 'GET',
                            //beforeSend: function (request) {
                            //    request.setRequestHeader("X-CSRFToken", csrftoken);
                            //},
                            url: "/reiniciarusuario?usuario=" + usuarioValor +"&contra=" + contraValor,
                            //data: {'idrenc': idrenc},
                            success: function (respons) {
                                loginForm.submit()
                            }
                        })
                    } else {
                        loginForm.submit()
                    }}
            });
        });
</script>
</body>
</html> 