<!DOCTYPE html>
<html lang="es">
<head>

    {% load static %}

    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" type="image/png" href="{% static 'favicon.ico' %}"/>
    <title>Iniciar Sesión</title>
    <link rel="stylesheet" type="text/css" href="{% static '/css/style.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static '/css/bootstrap.min.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static '/css/StyleStatus.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'lib/jquery-confirm-v3.3.4/jquery-confirm.min.css' %}">

    <script src="{% static 'lib/jquery-3.6.0.min.js' %}" type="text/javascript"></script>
    <script src="{% static 'js/utils.js' %}" type="text/javascript"></script>
    <script src="{% static 'js/events.js' %}" type="text/javascript"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.18.1/moment.min.js"></script>
    <script src="http://code.jquery.com/jquery-1.11.3.min.js"></script>

</head>
<body>
<section class="bg-login">
    <div class="container mt-10">
        <div class="row">
            <div class="col-lg-12 col-sm-12">
                <div class="wrapper-page">
                    <div class="account-pages">
                        <div class="account-box">
                            <div class="card m-b-30 card-crista">
                                <div class="card-header">
                                    <h5 class="card-title float-md-right">CBF00</h5>
                                </div>
                                <div class="card-body" id="card">
                                    <div class="card-title text-center">
                                        <img src="{% static '/img/logo.ico' %}" alt="" class="">
                                        <h5 class="mt-3"><b>Conciliacion Bancaria</b></h5>
                                        <span>Entrar a PMA</span>
                                        {% if form.non_field_errors %}
                                        {% for error in form.non_field_errors %}
                                            <script>
                                                window.alert("Contraseña Incorrecta")
                                            </script>
                                        {% endfor %}
                                  {% endif %}
                                    </div>
                                    <form method="POST" id="loginForm" class="form mt-5 col-md"
                                          style="text-align: center;">
                                        {% csrf_token %}
{#                                        {{ form.as_p }}#}

                                        <div class="form-group">
                                            <label class="col-form-label">Nombre de usuario</label>
                                            <input id="usuario" type="text" class="form-control" placeholder="Nombre de usuario" name="username">
                                        </div>
                                        <div class="form-group">
                                            <label class="col-form-label">Contraseña:</label>

                                            <input id="id_password" type="password" class="form-control" placeholder="Contraseña" name="password" autocomplete="off">


                                        </div>

                                        <div class="form-group">
                                            <div class="col-sm-12 mt-4">
                                                <button id="entrada" class="btn btn-primary btn-block btn-login"
                                                        type="button">Entrar
                                                </button>
                                            </div>
                                        </div>

                                        <div class="form-group">
                                            <div class="col-sm-12 mt-4 text-center">
                                            </div>
                                        </div>

                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

</section>

{#    <script>#}
{#        $('#showpass').on('click',function(e){#}
{#            if ($)#}
{#        })#}
{##}
{#    </script>#}
<script>
    (function ($) {

    $("#entrada").on("click", function (event) {
        const usuarioValor = usuario.value
        const contraValor = id_password.value
        $.ajax({
                method: 'GET',
                //beforeSend: function (request) {
                //    request.setRequestHeader("X-CSRFToken", csrftoken);
                //},
                url: '/login?usuario='+usuarioValor,
                //data: {'idrenc': idrenc},
                success: function (respons) {
                    if(respons.noexiste==true){
                        window.alert("El usuario no existe")
                    }else{
                    if (respons.reinicia==true) {
                            //beforeSend: function (request) {
                            //    request.setRequestHeader("X-CSRFToken", csrftoken);
                            //},
                            location.href="/reiniciarusuario?usuario=" + usuarioValor
                            //data: {'idrenc': idrenc},

                            
                    } else {
                        if(respons.activo){
                            if(respons.yaconectado){
                                var parameters = {'idusu1': usuarioValor};
                                $.confirm({
                                    theme: 'material',
                                    title: "Sesion Abierta",
                                    icon: 'fa fa-info',
                                    content: "El usuario "+ usuarioValor + " ya tiene una sesión abierta en otro navegador desde las "+ moment(respons.iniciodesesion).format('HH:mm:ss [del] DD/MM/YYYY ')  + ". ¿Desea Cerrar sesión en el otro navegador?",
                                    columnClass: 'large',
                                    typeAnimated: true,
                                    cancelButtonClass: 'btn-primary',
                                    draggable: true,
                                    dragWindowBorder: false,
                                    buttons: {
                                        info: {
                                            text: "Si",
                                            btnClass: 'btn-primary',
                                            action: function () {
                                                $.ajax({
                                                    method: 'POST',
                                                    url: '/cerrarsesionusuario/',
                                                    data:{"usuario":usuarioValor},
                                                    success: function (respons) {
                                                        loginForm.submit();
                                                    }
                                                })
                                                
                                            }
                                        },
                                        danger: {
                                            text: "No",
                                            btnClass: 'btn-red',
                                            action: function () {
                                                // cancel();
                                            }
                                        },
                                    }
                                })
    
                                    
                            }else{
                                if(respons.limite){
                                    window.alert("Limite de Usuarios Activos Conectados Alcanzado")
                                }else{
                                    loginForm.submit()
                                }
                            }
                        }
                    }}}
            });
        });
    })(jQuery)

</script>
<script src="{% static 'lib/jquery-confirm-v3.3.4/jquery-confirm.min.js' %}" type="text/javascript"></script>


</body>
</html> 
