<!DOCTYPE html>
<html lang="es">
<head>

    {% load static %}

    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" type="image/png" href="{% static 'favicon.ico' %}"/>
    <title>Iniciar Sesión</title>
    <link rel="stylesheet" type="text/css" href="{% static 'lib/AdminLTE/plugins/fontawesome-free/css/all.min.css'%}">
    <link rel="stylesheet" type="text/css" href="{% static '/css/style.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static '/css/bootstrap.min.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static '/css/StyleStatus.css' %}">
    <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>

</head>
<body>
<section class="bg-login">
    <div class="container mt-10">
        <div class="row">
            <div class="col-lg-12 col-sm-12">
                <div class="wrapper-page">
                    <div class="account-pages">
                        <div class="account-box">
                            <div class="card m-b-30 card-crista">
                                <div class="card-header">
                                    <h5 class="card-title float-md-right">CBF00</h5>
                                </div>
                                <div class="card-body">
                                    <div class="card-title text-center">
                                        <img src="{% static '/img/logo.ico' %}" alt="" class="">
                                        <h5 class="mt-3"><b>Conciliacion Bancaria</b></h5>
                                        <span>Nueva Contraseña</span>
                                    </div>
                                    <form method="POST" id="loginForm" class="form mt-5 col-md"
                                          style="text-align: center;">
                                        {% csrf_token %}
{#                                        {{ form.as_p }}#}

                                        <div class="form-group">
                                            <label class="col-form-label">Nombre de usuario {{usuario}}</label>
                                            <input readonly id="usuario" type="text" class="form-control" value={{usuario}} name="username">
                                        </div>
                                        <div class="form-group">
                                            <label class="col-form-label">Nueva Contraseña:</label>

                                            <input id="password1" type="password" class="form-control" placeholder="Contraseña" name="password1" autocomplete="off">
                                            

                                        </div>
                                        <div class="form-group">
                                            <label class="col-form-label">Repita la contraseña:</label>

                                            <input id="password2" type="password" class="form-control" placeholder="Contraseña" name="password2" autocomplete="off">
                                            <i class="fas fa-eye" id="togglePassword">Ver Password</i>
                                        </div>
                                        <div class="form-group">
                                            <div class="col-sm-12 mt-4">

                                                <button id="reset" class="btn btn-primary btn-block btn-login"
                                                        type="button">Entrar
                                                </button>
                                            </div>
                                        </div>

                                        <div class="form-group">
                                            <div class="col-sm-12 mt-4 text-center">
                                            </div>
                                        </div>

                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

</section>
<script>
    document.onload = window.alert("Defina una nueva contraseña")
    // Function to check Whether both passwords
    // is same or not.
    const togglePassword = document.querySelector('#togglePassword');
    const password1 = document.querySelector('#password1');
    
    const password2 = document.querySelector('#password2');
    togglePassword.addEventListener('click', function (e) {
    // toggle the type attribute
    const type1 = password1.getAttribute('type') === 'password' ? 'text' : 'password';
    password1.setAttribute('type', type1);
    password2.setAttribute('type', type1);
    // toggle the eye / eye slash icon
    this.classList.toggle('bi-eye');
    });
    const reset = document.querySelector('#reset');
    reset.addEventListener("click", function (event) {
        if (checkPassword(loginForm)){
            loginForm.submit()
        }
        });
    function checkPassword(form) {
        password1value = form.password1.value;
        password2value = form.password2.value;
        if (password1value.length < 6){
            alert ("La contraseña debe tener un mínimo de 6 caracteres")
            return false
        }
        // If password not entered
        if (password1value == '')
            alert ("Ingrese la Contraseña");
              
        // If confirm password not entered
        else if (password2value == '')
            alert ("Ingrese la Contraseña de confirmación");
              
        // If Not same return False.    
        else if (password1value != password2value) {
            alert ("\nLas contraseñas no coinciden")
            return false;
        }

        // If same return True.
        else{
            return true;
        }
    }
</script>

{#    <script>#}
{#        $('#showpass').on('click',function(e){#}
{#            if ($)#}
{#        })#}
{##}
{#    </script>#}

</body>
</html> 